

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  padding: 0;
}

h1 {
  text-align: center;
}
  .container {
    width: 100%;
    margin: 0;
  }
  #container {
    margin: 0 !important;
    width: 100% !important;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid green;
    padding: 1px;
  }

   #container a > * {

     height: 100px;
     width: 100px;
     margin: 1px;
   }

   .button {
    text-align: center;
    padding-top: 22px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    border-radius: 5px;
    background-color: #cf5;
   }

   .button.enlarge {
    font-size: 32px;
   }

   .button .lapcount,
   .button span {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    margin-right: 2pxs
   }

   .button span {
    text-align: center;
    width: 100%;
    }

    .button.enlarge span,
    .button.enlarge .lapcount {
      font-size: 24px;
    }

.enlarge {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 10;
}

.close {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 72px;
  border: none;
  text-align: center;
  z-index: 20;
  opacity: 1;
  display: none;
  color: black;
  width: 60px;
}

.add {
  display: none;
}

.remove {
  display: none;
}

.enlarge .add {
  position: absolute;
  top: 200px;
  left: calc(50% - 100px);
  height: 200px;
  width: 200px;
  display: block;
  border-radius: 5px;
  font-size: 72px;
  text-align: center;
}

.enlarge .add div {
    position: absolute;
    top: -3px;
    left: 25px;
    font-size: 140px;
    padding-left: 30px;
}

.enlarge .remove {
  position: absolute;
  top: 500px;
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
  display: block;
  border-radius: 5px;
  font-size: 72px;
  text-align: center;
}

.enlarge .remove div {
  position: absolute;
  top: -8px;
  left: 34px;
}










